*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-div{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0px;
    background-color: rgba(15, 37, 231, 0.861);
}
.nav-div h2{
    color: white;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Createnote{
    width: 20rem;
    height: 200px;
    overflow: hidden;
    margin: auto;
    margin-top: 100px;
    border-radius: 20px;
    background-color: rgb(14, 14, 40);
   
   
}

.Createnote form{
    width: 100%;
    height: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    margin: auto;
    background-color: rgb(14, 14, 40);
}
.Createnote form textarea{
    width: 17rem;
    height: 80px;
   
   
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
}
.Createnote form input{
    width: 17rem;
    height: 40px;
    border: 0;
    outline: 0;
    border-radius: 25px;
    text-align: center;
    font-size: 17px;
}
.Createnote  button{
    width: 50px;
    height: 30px;
    font-size: 24px;
    border: 0;
    outline: 0;
    color:red ;
    border-radius: 3px;
}
.Createnote button:hover{
    background-color: greenyellow;
    color: black;
}

.Note{
    width: 15rem;
    height:150px;
    background-color: rgb(14, 14, 40);
    
    color: white;
    border-radius: 10px;
    
    font-family: Arial, Helvetica, sans-serif;
}
.Note h3{
    width: 80%;
    margin: auto;
    word-spacing: 3px;
}
.Note p{
    width: 80%;
    margin: auto;
    margin-top: 10px;
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.Note button{
   margin: 13px;
   font-size: 17px;
   color:orangered;
   
}
.Note button :hover{
    color: greenyellow;
}
.Notes-div{

    width: 100%;
    
   
   
    padding: 40px;
    display: flex;
    
    flex-flow: wrap;
    align-content: flex-start;
   
    gap: 3rem;
    
    
    
}

.Footer{
    width: 100%;
    height: 30px;
    
    
    background-color: rgba(15, 37, 231, 0.861);
    color: white;
    font-size: 17px;
    text-align: center;
    
}