*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.nav-div{
    width: 100%;
    height: 80px;
    margin-top: -160px;
    background-color: rgb(14, 14, 40);
}
.nav-div h2{
    color: white;
   
    margin-top: 20px;
    margin-left: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}